asyncio==3.4.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.1
DateTime==5.5
idna==3.10
pycparser==2.22
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
six==1.17.0
urllib3==2.3.0
websockets==14.2
zope.interface==7.2
